<html>
<body>
<p>Укажите почтовый адрес:</p>

<form action="/" method="POST">
    <p><input name="email"></p>
    <p><input type="submit" value="Search"></p>
</form>

[% IF rows >= 100 %]<p>Внимание! Предоставлены только первые 100 результатов поиска.</p>[% END %]

[% IF list %]
<b>[% email %]</b>
<table border="0">
[% FOREACH line = list %]
<tr>
<td>[% line.1 %]</td><td>[% line.0 %]</td><td>[% line.2 %]</td>
</tr>
[% END # FOREACH %]
</table>

[% END # IF %]

</body>
</html>



